<%- include('header') %>
<body>
    <div class="container-catalogue">
        <img src="img/tata.png">
        <h1>NOTRE CATALOGUE</h1>
    </div>
<%-include('select') %>

<div class="news">
    <h2>NEWS</h2>
    <div class="container-news">
    <% for(const cof of cofs){ %>
        <div class="decouvrir">
            <img src="/img/<%=cof.reference%>.png">
            <h3><%=cof.name%></h3>
            <p><%=cof.description%> </p>
            <a href="/produit/<%=cof.id%>" class="btn">Decouvrir</a>
        </div>
   <% }%>
    </div>
</div>
    
    

  
 <script src="js/header.js"></script>
</body>
</html>