<%-include('header')%>
<body>
    <div class="container-catalogue">
        <img src="img/tata.png">
        <h1>NOTRE CATALOGUE</h1>
    </div>
        
    <%-include('select') %>


            
        <div class="news">
            <h2 > Trié par: <%=selectedCategory.toUpperCase()%></h2>
            <div class="container-news">
                <%let count = 0;
                categories.forEach(category => {
                    if (count >= 3) return;
                    %>
                <div class="decouvrir">
                    <img src="/img/<%=category.reference%>.png">
                    <h3><%=category.name%></h3>
                    <h2><%=category.origine%> </h2>
                    <h4><%=category.caractéristique%> </h4>
                    <h2><%=category.prix%> €</h2>
                    <p><%=category.description%> </p>
                    <a href="/produit/<%=category.id%>" class="btn">Decouvrir</a>
                </div>
           <% count++})%>
            </div>
        </div>

    <button class="btn-all btn">Voir tout</button>

    <div id="all" class="news hidden">
        <div  class="container-news ">
            <% categories.forEach((category , index )=> { 
                if(index < 3 ) return; %>
            
            <div class="decouvrir">
                <img src="/img/<%=category.reference%>.png">
                <h3><%=category.name%></h3>
                <h2><%=category.origine%> </h2>
                <h2><%=category.prix%> €</h2>
                <p><%=category.description%> </p>
                <a href="/produit/<%=category.id%>" class="btn">Decouvrir</a>
            </div>
            <% })%>
        </div>
    </div>    

<script src="/js/catalogue.js"></script>
</body>
</html>