<%- include('header') %>
<body>
    <div class="about">
        <div class="illustration">
            <img src="img/about.jpg">
        </div>
        <div class="container-text">
            <div class="presentation">
                <h2>Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique.<br> Avec une expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le café est célébré comme une expérience raffinée et inspirante.</h2>
            </div>
            <a href="/catalogue" class="btn-catalogue">Voir le catalogue.</a>
            </div>

        </div>
    <div class="news">
        <h2>NEWS</h2>
        <div class="container-news">
        <% for(const coffee of coffees){ %>
            <div class="decouvrir">
                <img src="/img/<%=coffee.name%>.png">
                <h3><%=coffee.name%></h3>
                <p><%=coffee.description%> </p>
                <a href="/produit/<%=coffee.id%>" class="btn">Decouvrir</a>
            </div>
       <% }%>
        </div>
    </div>
    
  
 <script src="/js/header.js"></script>
</body>
</html>